.index {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    margin-inline-end: 10px;
}